
<h3>Add a client to <%= @barber.name() %> </h3>

  <form action="/clients" method="post">
    <input id="barbers_id" name="barber_id" type="hidden" value="<%= @barber.id() %>">

    <label for="name">Name of the client:</label>
    <input id="name" name="name" type="text">

    <button type="submit">Add client</button>
  </form>

  <hr>


  <% if @barber.clients().any?() %>
    <h3>Here are all the clients for barber:<%= @barber.name() %> </h3>

    <ul>
      <% @barber.clients().each() do |client| %>
        <li><%= client.name() %> </li>
      <% end %>
    </ul>

    <% else %>
      <p>There are no clients on this barber!</p>
    <% end %>

  <div class="container">
    <a href="/">Home</a>
    <a href="/barbers">View All barbers</a>
    <a href="/barber/new">Add New barber</a>
    <p><a href="/barbers/<%= @barber.id() %>/edit">Edit <%= @barber.name() %> barber</a></p>
    <%#<a href="/lists/new">Add New client</a>%>
  </div>

  