 
 <% if @barber.clients().any?() %>
    <h3>Here are all the clients for barber:<%= @barber.name() %> </h3>

    <ul>
      <% @barber.clients().each() do |client| %>
        <li><%= client.name() %>,<%= client.cut_description() %>,<%= client.booking_date() %> </li>
      <% end %>
    </ul>

    <% else %>
      <h3><strong><%= @barber.name() %>:</strong></h3>
      <p>There are no clients for me!</p>
    <% end %>

  <div class="container">
    <a href="/">Home</a>|
    <a href="/barbers">View All barbers</a>
  </div>

  